{% extends "DemoMediaBundle::layout.html.twig" %}

{% block content %}

    <audio id="audio" preload="auto" tabindex="0" controls="" type="audio/mpeg">
        <source type="audio/mp3" src="">
        Sorry, your browser does not support HTML5 audio.
    </audio>

    <ul id="playlist">
        {% for t in tracks %}
            <li>
                <a href="/uploads/{{ t.file }}">{{ t.title }} - {{ t.artist }} [{{ t.album }}]</a>
            </li>
        {% endfor %}
    </ul>
    <script src="/js/playlist.js"></script>
{% endblock %}

